@font-face {
    font-family: 'aileronblack';
    src: url('Aileron-Black-webfont.eot');
    src: url('Aileron-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Black-webfont.woff2') format('woff2'),
         url('Aileron-Black-webfont.woff') format('woff'),
         url('Aileron-Black-webfont.ttf') format('truetype'),
         url('Aileron-Black-webfont.svg#aileronblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'aileronblack';
    position: relative;
    height: max-content;
    background-color: hsl(0,0%,13%);
   
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}


li{
    display: inline-block;
}
.logo-section{
    position: relative;
    background-color: rgb(206, 206, 206);
    width: 100%;
    height: 87.5px;
}
.logo{
    position: relative;
    width: 6vw;
    top: 20px;
    
}
.avatar{
    position: relative;
    bottom: 35px;
    left: 100px;
    right: 0;
    width: 3vw;
}
.avatar:hover{
    fill: #fff;
    background-color: rgb(187, 187, 187);
    border-radius: 100%;
}
.profile{
    position: relative;
    left: 0px;
    top: 40px;
    bottom: 0;
    width: 1vw;

    justify-content: right;
}
.title{
    margin-right: 1em;
    font-size: 2vw;
}
header{
    position: relative;
    height: fit-content;
}
nav{
    position: relative;
    /* top: -45px; */
    left: 0;
    right: 0;
    width: 100%;
    height:inherit;
    background-color:rgb(206, 206, 206);
    border-bottom: 2px solid white;

}
nav a.btn{
    font-family: 'aileronblack';
    text-decoration: none;
    display: inline-block;
    position: relative;

    width: 8vw;
    height: 10px;
    padding: 2em ;
    font-size: 1vw;
    font-weight: bold;
    background-color: rgb(206, 206, 206);
    border-bottom: 2px solid white;
    color: #000;
    text-align: center;
}
nav a:hover{
   border-bottom: 2px solid rgb(120, 120, 120);
    color: #fff;
}
.navbar{
    position: sticky;
    top: 0;
    width:100%;
    height: 10vh;
    /* background-color: hsl(0,0%,55.5%); */
     z-index: 10;
    border-radius: 6px;
}
.aboutus{
    margin: auto;
    width: 70%;
    margin-bottom: 4em;
}
main{
    position: relative;
    top: -20px;
    background-image: linear-gradient(rgb(206, 206, 206), rgb(129, 129, 129), rgb(64, 64, 64), rgb(33, 33, 33));
    
}
section{
    margin: 2em;
}
.nerd1{
    position: relative;
    max-width: 100%;
    margin: 10em;
    max-height: 300px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 2em;
}
.ncon{
    display: flex;
    flex-direction: row;
}
.slider-container,.nslider-container{
    /* border: 3px solid hsl(0,0%,44%); */
    margin: auto;
    border-radius: 6px;
}
.slider-container{
    width: 85%;
}
.nslider-container{
    height: auto;
    min-width: 100%;
}
.scontainer{
    position: relative;
    padding: 1em;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    /* max-height: 600px; */
}
.ncontainer{
    position: relative;
    bottom: 35px;
    max-width: 100%;
    /* max-height: 600px; */
}
.description{
    height: 250px;
    font-size: 1vw;
    width: 600px;
    position: relative;
    top: 2px;
    overflow-y: auto;
}
footer{
    position: relative;
    top: 0;
    bottom: 0;
    /* border: 1px solid #000; */
    border-radius: 6px;
    width: 100%;
    height: 300px;
}
footer div.social{
    height: 220px;
    width: 400px;
    padding:2em 0em 2em 2em;
    font-size: 15px;
    margin: 0em 1em 0em 1em;
}

footer div.social{
    position: relative;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
}

footer ul li a,footer ul li p{
    text-decoration: none;
    color: #000;
    vertical-align: middle;
    height: 20px;
    margin: 1em;
}
footer ul li img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 1em;
}
footer ul li{
    margin-bottom: 1em;
}
footer ul li span{
    font-size: 11.5px;
}
.cont{
    position: relative;
    margin: auto;
    bottom: 60px;
    right: 50px;
    width: 500px;
}
.cont li{
    width: 200px;
    margin: 1em;
    justify-content: center;
}

.image-list,.profile-page{
    text-align: center;
    font-size: 30px;
}
.profile-page h1,h4{
    text-decoration: underline;
}
.image-list img{
    width: 40%;
    border-radius: 6px;
    border: 2px solid #000;
    margin: 1em;
}
.collection{
    overflow:scroll;
    width:80%;
    height: 600px;
    padding-left: 2em;
    margin-left: 4em;
    border: 3px solid #000;
    border-radius: 6px;
}
#prof
{
    width: 120px;
    height: 120px;
}

